

body {display: flex;
      flex-direction: column;}

.container_3 {display:flex;
         background-color: #1f2937;
         font-style: roboto;
         font-size: 18px;
         flex-direction: row;
         }

.header-link {display: flex;
              flex: 1;
              justify-content: flex-end;
              gap: 1em;}    
              
.container_1 {display: flex;
             flex: 1;
             background-color: #1f2937;
             color:azure}              